<?php

define('DB_NAME', '<%= dbName %>');
define('DB_USER', '<%= dbUser %>');
define('DB_PASSWORD', '<% dbPass %>');
define('DB_HOST', '<%= dbHost %>');
$table_prefix  = '<%= tablePrefix %>';

define( 'WP_DEBUG', true );
