<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, and ABSPATH. You can find more information by visiting
 * {@link http://codex.wordpress.org/Editing_wp-config.php Editing wp-config.php}
 * Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// Include local configuration
if ( file_exists( dirname(__FILE__) . '/local-config.php' ) ) {
	include( dirname(__FILE__) . '/local-config.php' );
}

// Global DB config
if ( !defined('DB_NAME') ) {
	define( 'DB_NAME', '' );
}

if ( !defined('DB_USER') ) {
	define( 'DB_USER', '' );
}

if ( !defined('DB_PASSWORD') ) {
	define( 'DB_PASSWORD', '' );
}

if ( !defined('DB_HOST') ) {
	define( 'DB_HOST', '' );
}

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
<%= saltKeys %>

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = '<%= tablePrefix %>';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
if ( !defined( 'WP_DEBUG') ) {
	define( 'WP_DEBUG', false );
}

if ( WP_DEBUG ) {
	/* Tells WordPress to log everything to the /wp-content/debug.log file */
	define( 'WP_DEBUG_LOG', true );

	/* Hides debug errors inside the HTML (use debug.log instead) */
	define( 'WP_DEBUG_DISPLAY', false );
	@ini_set( 'display_errors', 0 );

	/* This will force WordPress to use the "dev" versions of core CSS and Javascript files rather than the minified versions that are normally loaded. This is useful when you are testing modifications to any built-in .js or .css files. Default is false. */
	define( 'SCRIPT_DEBUG', true );

	/* The SAVEQUERIES definition saves the database queries to an array and that array can be displayed to help analyze those queries. The information saves each query, what function called it, and how long that query took to execute. */
	define( 'SAVEQUERIES', true );
}

<% if(themeType === 'Mattbase Framework') { %>
define( 'WP_DEFAULT_THEME', '<%= themeDir %>' );
<% } %>
<% if(themeType === 'Install from GitHub') { %>
define( 'WP_DEFAULT_THEME', '<%= githubRepo %>' );
<% } %>

define( 'DISALLOW_FILE_EDIT', true );
define( 'WP_POST_REVISIONS', 5 );
define( 'EMPTY_TRASH_DAYS', 14 );
define( 'MEDIA_TRASH', true );

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define( 'ABSPATH', dirname(__FILE__) . '/' );

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );
